{% extends "layout.html" %}

{% block title %}Tenant Detail{% endblock %}

{% block content %}
<div class="">
    <div class="m-10 text-center">
        <p class="font-bold text-3xl">Tenant Detail</p>
    </div>
    <div class="flex flex-row items-stretch">
        <div class="m-10 border border-white flex-5">
            <img width="200px" src="{{ tenant.image.url }}" alt="{{ tenant.name }}">
        </div>
        <div class="m-10 border border-white flex-1 p-4">
            <p>Name: {{ tenant.name }}</p>
            <p>Description: {{ tenant.description }}</p>
            <p>Apps: {{ tenant.type }}</p>
            <p>Date Added: {{ tenant.date_added }}</p>


        </div>
    </div>
</div>
{% endblock %}