{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div>
    {% comment %} <div class="text-center m-3">
        <h1>List of Tenants</h1>
    </div> {% endcomment %}
    <div class="grid grid-cols-5 gap-14 m-20">
        {% for tenant in tenants %}
        <div class="border border-white text-white justify-center p-5">
            <div>
                <img src="{{ tenant.image.url }}" alt="{{ tenant.name }}">
            </div>
            <h3 class="m-2">Name: {{ tenant.name }}</h3>
            <a href="{% url 'tenant_details' tenant.id%}">
                <button class="bg-blue-300 text-black p-2 rounded w-[100%]">See Details<button>
            </a> 
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}